* {
  margin: 0;
  padding: 0;
}
/*-------------------Index.html-------------------*/
.character-grid-container{
  min-height: 94vh;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(13, auto)
}
/*********** Character Selection ************/
#characterList {
  list-style-type: none;
}
li {
  height: 100%;
  width: 100%;
}
.character {
  display: content;
}
.character img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.character {
  border: 0.01rem solid black;
}
.character:hover {
  scale: 1.5;
  z-index: 2;
}
/********** Search Bar **********/
.form-control {
  grid-column-start: 1;
  grid-column-end: 8;
  height: 6vh;
}
input {
  text-align: center;
}
/*-------------------Moves.html-------------------*/

/*-----Navbar-----*/
div.tabs {
  height: 5vh;
  width: 100vw;
}
.tabs a{
  width: 33vw;
}

/*-----Card-----*/
div.card {
  height: 10vh;
  width: 100vw;
}
div.card img {
height: 100%;
width: 100%;
object-fit: cover;
}

.frame-length .startup {
  background-color: green;
  border-radius: 50px;
}
div.card-body {
  height:30vh;
  width: 100vw;
}
/* Buttons */
.buttons-grid-container{
  height:25vh;
  width:100vw;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto);
}

.buttons-grid-container img {
  height:7.5vh;
  width: 100%;
}

.circleButton img {
  width: auto;
}

/*Bottom Navigation*/
.btm-nav {
  height: 5vh;
  width: 100vw;
}