* {
  margin: 0;
  padding: 0;
}
/*-------------------Index.html-------------------*/
.grid-container{
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(13, auto)
}
/*********** Character Selection ************/
#characterList {
  list-style-type: none;
}
li {
  height: 100%;
  width: 100%;
}
.character {
  display: content;
}
.character img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.character {
  border: 0.01rem solid black;
}
.character:hover {
  scale: 1.5;
  z-index: 2;
}
/********** Search Bar **********/
.form-control {
  grid-column-start: 1;
  grid-column-end: 8;
}
input {
  text-align: center;
}