<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<script>
</script>
<div class="grid-container">
    <figure class="characterIcon icon1">
        <img src="/characterIcons/1.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/2.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/3.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/4.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/4-1.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/5.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/6.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/7.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/8.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/9.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/10.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/11.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/12.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/13.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/13-1.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/14.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/15.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/16.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/17.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/18.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/19.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/20.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/21.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/21-1.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/22.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/23.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/24.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/25.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/25-1.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/26.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/27.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/28.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/28-1.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/29.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/30.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/31.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/32.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/33.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/34.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/35.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/36.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/37.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/38.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/39.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/40.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/41.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/42.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/43.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/44.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/45.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/46.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/47.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/48.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/49.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/50.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/51.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/52.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/53.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/54.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/55.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/56.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/57.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/58.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/59.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/60.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/60-1.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/61.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/62.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/63.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/64.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/65.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/66.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/66-1.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/67.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/68.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/69.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/70.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/71.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/72.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/73.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/74.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/75.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/76.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/77.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/78.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/79.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/80.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/81.png" class="iconImg" alt="Icon 1">
    </figure>
    <figure class="characterIcon icon1">
        <img src="/characterIcons/82.png" class="iconImg" alt="Icon 1">
    </figure>
    <div class="form-control">
        <input type="text" placeholder="Search" class="input input-outline w-full">
    </div>
</div>
    
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            .grid-container{
                min-height: 100vh;
                display: grid;
                grid-template-columns: repeat(7, auto);
                grid-template-rows: repeat(13, auto)
            }
            .iconImg {
                height:100%;
                width:100%;
                object-fit: cover;
                border: 0.01rem solid black;
            }
            .form-control {
                grid-column-start: 1;
                grid-column-end: 8;
            }
    
            input {
                text-align: center;
            }
          </style>
    
    <div>
        <h1>Home Page {{name}} </h1>
    </div>
    
</body>
</html>