<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.10.0/dist/full.css" rel="stylesheet" type="text/css" />
<!------------------------------------------------------------------------------------------->
    <script>    
    //Search Bar - Lower opacity if not found
    function myFunction() {
    //Create the varibles
        var input, filter, ul, li, a, i, textValue;
    //Get the searchbar + store/filter the input
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
    //Get the list
        ul = document.getElementById("characterList");
        li = ul.getElementsByTagName("li");
    //Loop over the list
    for (i = 0; i < li.length; i++) {
    //Create varibles
        a = li[i].getElementsByTagName("a")[0];
        textValue = a.textContent || a.innerText;
    //If any input is found matching, change the opacity
        if (textValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.opacity = "1";
        } else {
            li[i].style.opacity = "0.5";
        }
    }
}
    </script>
</head>
<!------------------------------------------------------------------------------------------->
<body>
<!-- Character Selection Grid-->
<div class="characterSelection">
    <ul id="characterList" class="grid-container">
        <div class="character mario">
            <li>
            <a href="#">
                <img id="1" src="{{url_for('static', filename='images/1.png')}}" alt="Icon 1" ></img>
            <p style="display:none">Mario</p></a>
            </li>
        </div>
        <figure class="characterIcon icon2">
            <img src="{{url_for('static', filename='images/2.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon3">
            <img src="{{url_for('static', filename='images/3.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon4">
            <img src="{{url_for('static', filename='images/4.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon4a">
            <img src="{{url_for('static', filename='images/4a.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon5">
            <img src="{{url_for('static', filename='images/5.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon6">
            <img src="{{url_for('static', filename='images/6.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon7">
            <img src="{{url_for('static', filename='images/7.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon8">
            <img src="{{url_for('static', filename='images/8.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon9">
            <img src="{{url_for('static', filename='images/9.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon10">
            <img src="{{url_for('static', filename='images/10.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon11">
            <img src="{{url_for('static', filename='images/11.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon12">
            <img src="{{url_for('static', filename='images/12.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon13">
            <img src="{{url_for('static', filename='images/13.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon13a">
            <img src="{{url_for('static', filename='images/13a.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon14">
            <img src="{{url_for('static', filename='images/14.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon15">
            <img src="{{url_for('static', filename='images/15.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon16">
            <img src="{{url_for('static', filename='images/16.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon17">
            <img src="{{url_for('static', filename='images/17.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon18">
            <img src="{{url_for('static', filename='images/18.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon19">
            <img src="{{url_for('static', filename='images/19.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon20">
            <img src="{{url_for('static', filename='images/20.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        
        <figure class="characterIcon icon21">
            <img src="{{url_for('static', filename='images/21.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon21a">
            <img src="{{url_for('static', filename='images/21a.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon22">
            <img src="{{url_for('static', filename='images/22.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon23">
            <img src="{{url_for('static', filename='images/23.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon24">
            <img src="{{url_for('static', filename='images/24.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon25">
            <img src="{{url_for('static', filename='images/25.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon25a">
            <img src="{{url_for('static', filename='images/25a.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon26">
            <img src="{{url_for('static', filename='images/26.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon27">
            <img src="{{url_for('static', filename='images/27.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon28">
            <img src="{{url_for('static', filename='images/28.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon28a">
            <img src="{{url_for('static', filename='images/28a.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon29">
            <img src="{{url_for('static', filename='images/29.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon30">
            <img src="{{url_for('static', filename='images/30.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon31">
            <img src="{{url_for('static', filename='images/31.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon32">
            <img src="{{url_for('static', filename='images/32.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon33">
            <img src="{{url_for('static', filename='images/33.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon34">
            <img src="{{url_for('static', filename='images/34.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon35">
            <img src="{{url_for('static', filename='images/35.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon36">
            <img src="{{url_for('static', filename='images/36.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon37">
            <img src="{{url_for('static', filename='images/37.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon38">
            <img src="{{url_for('static', filename='images/38.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon39">
            <img src="{{url_for('static', filename='images/39.png')}}" class="iconImg" alt="Icon 1">
        </figure>
         <figure class="characterIcon icon40">
            <img src="{{url_for('static', filename='images/40.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon41">
            <img src="{{url_for('static', filename='images/41.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon42">
            <img src="{{url_for('static', filename='images/42.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon43">
            <img src="{{url_for('static', filename='images/43.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon44">
            <img src="{{url_for('static', filename='images/44.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon45">
            <img src="{{url_for('static', filename='images/45.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon46">
            <img src="{{url_for('static', filename='images/46.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon47">
            <img src="{{url_for('static', filename='images/47.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon48">
            <img src="{{url_for('static', filename='images/48.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon49">
            <img src="{{url_for('static', filename='images/49.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon50">
            <img src="{{url_for('static', filename='images/50.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon51">
            <img src="{{url_for('static', filename='images/51.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon52">
            <img src="{{url_for('static', filename='images/52.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon53">
            <img src="{{url_for('static', filename='images/53.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon54">
            <img src="{{url_for('static', filename='images/54.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon55">
            <img src="{{url_for('static', filename='images/55.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon56">
            <img src="{{url_for('static', filename='images/56.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon57">
            <img src="{{url_for('static', filename='images/57.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon58">
            <img src="{{url_for('static', filename='images/58.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon59">
            <img src="{{url_for('static', filename='images/59.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon60">
            <img src="{{url_for('static', filename='images/60.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon60a">
            <img src="{{url_for('static', filename='images/60a.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon61">
            <img src="{{url_for('static', filename='images/61.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon62">
            <img src="{{url_for('static', filename='images/62.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon63">
            <img src="{{url_for('static', filename='images/63.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon64">
            <img src="{{url_for('static', filename='images/64.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon65">
            <img src="{{url_for('static', filename='images/65.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon66">
            <img src="{{url_for('static', filename='images/66.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon66a">
            <img src="{{url_for('static', filename='images/66a.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon67">
            <img src="{{url_for('static', filename='images/67.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon68">
            <img src="{{url_for('static', filename='images/68.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon69">
            <img src="{{url_for('static', filename='images/69.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon70">
            <img src="{{url_for('static', filename='images/70.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon71a">
            <img src="{{url_for('static', filename='images/71.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon72">
            <img src="{{url_for('static', filename='images/72.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon73">
            <img src="{{url_for('static', filename='images/73.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon74">
            <img src="{{url_for('static', filename='images/74.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon75">
            <img src="{{url_for('static', filename='images/75.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon76">
            <img src="{{url_for('static', filename='images/76.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon77">
            <img src="{{url_for('static', filename='images/77.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon78">
            <img src="{{url_for('static', filename='images/78.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon79">
            <img src="{{url_for('static', filename='images/79.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon80">
            <img src="{{url_for('static', filename='images/80.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon81">
            <img src="{{url_for('static', filename='images/81.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon icon82">
            <img src="{{url_for('static', filename='images/82.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon iconRandom">
            <img src="{{url_for('static', filename='images/random.png')}}" class="iconImg" alt="Icon 1">
        </figure>
        <figure class="characterIcon iconInfo">
            <img src="{{url_for('static', filename='images/info.png')}}" class="iconImg" alt="Icon 1">
        </figure>
    </ul>
</div>
<!-- Search Bar -->
<div class="form-control">
        <input id="search" type="text" placeholder="Search" onkeyup="myFunction()" class="input input-outline w-full">
<div>
<!------------------------------------------------------------------------------------------->
</body>
</html>