<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.10.0/dist/full.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--Navigation-->
    <div class="tabs">
        <a class="tab tab-bordered span-3">Back</a> 
        <a class="tab tab-bordered tab-active">Jab 1</a> 
        <a class="tab tab-bordered">-></a>
      </div>

<!--Top Card-->
    <div class="card w-96 glass">
        <figure><img src="{{url_for('static', filename='images/CorrinJab1.gif')}}" alt="car!"/></figure>
        <div class="card-body">
          <h2 class="card-title">Jab</h2>
          <p>Note transitions to jab 3 as early as frame 9 and rapid as early as 8</p>
        </div>
      </div>

<!--Button Navigation-->
<div class="tabs">
    <a class="tab tab-bordered">Grounded</a> 
    <a class="tab tab-bordered tab-active">Aerial</a> 
    <a class="tab tab-bordered">Getup</a>
</div>

<!--Buttons-->

<div class="buttons-grid-container">
    <div class="button circleButton">
    <img src="{{url_for('static', filename='images/buttonA.png')}}" alt=""/>
    </div>
    <div class="button">
    <img src="{{url_for('static', filename='images/upArrow.png')}}" alt=""/>
    </div>
    <div class="button">
    <img src="{{url_for('static', filename='images/leftArrow.png')}}" alt=""/>
    </div>
    <div class="button">
    <img src="{{url_for('static', filename='images/rightArrow.png')}}" alt=""/>
    </div>
    <div class="button">
    <img src="{{url_for('static', filename='images/downArrow.png')}}" alt=""/>
    </div> 

        <div class="button circleButton">
        <img src="{{url_for('static', filename='images/buttonA.png')}}" alt=""/>
        </div>
        <div class="button">
        <img src="{{url_for('static', filename='images/upArrow.png')}}" alt=""/>
        </div>
        <div class="button">
        <img src="{{url_for('static', filename='images/leftArrow.png')}}" alt=""/>
        </div>
        <div class="button">
        <img src="{{url_for('static', filename='images/rightArrow.png')}}" alt=""/>
        </div>
        <div class="button">
        <img src="{{url_for('static', filename='images/downArrow.png')}}" alt=""/>
        </div>

        <div class="button circleButton">
        <img src="{{url_for('static', filename='images/buttonB.png')}}" alt=""/>
        </div>
        <div class="button">
        <img src="{{url_for('static', filename='images/upArrow.png')}}" alt=""/>
        </div>
        <div class="button">
        <img src="{{url_for('static', filename='images/leftArrow.png')}}" alt=""/>
        </div>
        <div class="button">
        <img src="{{url_for('static', filename='images/rightArrow.png')}}" alt=""/>
        </div>
        <div class="button">
        <img src="{{url_for('static', filename='images/downArrow.png')}}" alt=""/>
        </div> 

            <div class="button circleButton">
            <img src="{{url_for('static', filename='images/buttonZ.png')}}" alt=""/>
            </div>
            <div class="button">
            <img src="{{url_for('static', filename='images/upArrow.png')}}" alt=""/>
            </div>
            <div class="button">
            <img src="{{url_for('static', filename='images/leftArrow.png')}}" alt=""/>
            </div>
            <div class="button">
            <img src="{{url_for('static', filename='images/rightArrow.png')}}" alt=""/>
            </div>
            <div class="button">
            <img src="{{url_for('static', filename='images/downArrow.png')}}" alt=""/>
            </div> 
            
     

</div>

<!----------------------->
</body>  
</html>